body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; user-select: none; width: 100%;}

#keyboard,
#keyboard2,
#keyboard3 {
    display: flex;
    flex-direction: column; /* <<< stapelt de letters verticaal */
    align-items: center;
    background-color: lightblue;
    border-radius: .5em;
    margin: .5em;
    padding: 2em;
    gap: 0.5em; /* ruimte tussen letters */
    width: auto;
}

#input { 
    font-size: 24px; 
    margin-top: 20px; 
    width: 80%; 
    text-align: left; 
    padding: 10px;
    height: 10em;
}

.fullKeyboard{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    position: absolute;
    top: 46%;
    left: 0;
}

.specialKeyboard{
    margin: 0;
    position:absolute;
    top: 46%;
    width: 100%;
}

#backspace,
#spacebar,
#shift,
#special,
#numbers{
    background-color: blue;
    border-radius: .5em;
    padding: 2em;
    color:white;
    position: absolute;
    margin: .5em;
}

#backspace{top: 0em; right: 5px;}
#spacebar{top: 18em; left: 0; width: 80%;}
#shift{top: 12.3em; left: 0;}
#numbers{top: 0em; left: 0;}

#preview {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    background-color: rgb(50, 150, 50);
    color: white;
    padding: .5em 1em;
    border-radius: 20px;
    display: none;
    pointer-events: none;
    font-weight: bold;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}

#shift.active {
    background-color: darkblue;
}